{% extends 'base_admin.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

<div class="container">

    <h1>Tableau de bord</h1>

    <div class="list-group">
        <a href="{{ path('section_index') }}" class="list-group-item list-group-item-action">Sections du menu</a>
        <a href="{{ path('pizza_index') }}" class="list-group-item list-group-item-action">Les pizzas</a>
        <a href="{{ path('dessert_pizza_index') }}" class="list-group-item list-group-item-action">Les pizzas dessert</a>
        <a href="{{ path('drink_index') }}" class="list-group-item list-group-item-action">Les boissons</a>
        <a href="{{ path('wine_index') }}" class="list-group-item list-group-item-action">Les vins</a>
        <a href="{{ path('allergen_product_index') }}" class="list-group-item list-group-item-action">Les produits allergènes</a>
        <a href="{{ path('information_index') }}" class="list-group-item list-group-item-action">Section "informations"</a>
    </div>

</div>

{% endblock %}
