{% extends 'base.html.twig' %}

{% block body %}

<main>


<section id="menu">

    <div  data-aos="fade-up" data-aos-duration="2000" class="pizza left">
        <h2>- {{ section.0.title }} -</h2>
        {% for pizza in redPizza %}
            <h3>{{ pizza.name }}</h3>
            <div class="contentPrice">
                <div class="content">
                    {{ pizza.content }}
                </div>
                <div class="price">
                    - {{ pizza.price|number_format(2) }} € -
                </div> 
            </div>
        {% endfor %}
    </div>
        

    <div data-aos="flip-right" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_1.jpg" alt="Pizza">
    </div>

    <div data-aos="fade-up"  data-aos-duration="2000" class="pizza right">
        <h2>- {{ section.1.title }} -</h2>
        {% for pizza in whitePizza %}
            <h3>{{ pizza.name }}</h3>
            <div class="contentPrice">
                <div class="content">
                {{ pizza.content }}
                </div>
                <div class="price">
                - {{ pizza.price|number_format(2) }} € -
                </div> 
            </div>
        {% endfor %}
    </div>

    <div data-aos="flip-left" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_2.JPG" alt="Pizza">
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="pizza left">
        <h2>- {{ section.2.title }} -</h2>
        {% for pizza in whitePizza %}
            <h3>{{ pizza.name }}</h3>
            <div class="contentPrice">
                <div class="content">
                {{ pizza.content }}
                </div>
                <div class="price">
                - {{ pizza.price|number_format(2) }} € -
                </div> 
            </div>
        {% endfor %}
    </div>

    <div data-aos="flip-right" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_3.JPG" alt="Pizza">
    </div>

    
    <div data-aos="fade-up" data-aos-duration="2000" class="pizza right">
        <h2>- {{ section.3.title }} -</h2>
        {% for pizza in whitePizza %}
            <h3>{{ pizza.name }}</h3>
            <div class="contentPrice">
                <div class="content">
                {{ pizza.content }}
                </div>
                <div class="price">
                - {{ pizza.price|number_format(2) }} € -
                </div> 
            </div>
        {% endfor %}
    </div>

    <div data-aos="flip-left" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_4.JPG" alt="Pizza">
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="pizza other">
        <h2>- {{ section.4.title }} -</h2>
        {% for pizza in dessertPizza %}
            <h3>{{ pizza.name }}</h3>
            <div class="contentPrice">
                <div class="price">
                    - {{ pizza.price|number_format(2) }} € -
                </div> 
            </div>
        {% endfor %}
    </div>

    <div data-aos="flip-right" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_5.JPG" alt="Pizza">
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="pizza other">
        <h2>- {{ section.5.title }} -</h2>
        {% for drink in drinks %}
            <h3>{{ drink.name }}</h3>
            <div class="contentPrice">
                <div class="price">
                    - {{ drink.price|number_format(2) }} € -
                </div> 
        </div>
        {% endfor %}
    </div>

    <div data-aos="flip-left" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_6.JPG" alt="Pizza">
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="pizza other">
        <h2>- {{ section.6.title }} -</h2>
        {% for wine in wines %}
             <h3>{{ wine.name }}</h3>
        <div class="contentPrice">
            <div class="price">
                - {{ wine.price|number_format(2) }} € -
            </div> 
        </div>
        {% endfor %}
       
    </div>

    <div data-aos="flip-right" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_7.jpg" alt="Pizza">
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="pizza">
        <h2>- {{ section.7.title }} -</h2>
        {% for allergen in allergenProduct %}
            <h4>{{ allergen.name }}</h3>
        {% endfor %}
    </div>

</section> 

<section id="informations">

    <h2 data-aos="fade-up" data-aos-duration="2000" class="right" >{{ information.0.content }}</h2>
    <h2 class="left" data-aos="fade-down" data-aos-duration="2000">{{ information.1.content }}</h2>
    <h2 class="right" data-aos="fade-up" data-aos-duration="2000">{{ information.2.content }}</h2>
    <h2 class="left" data-aos="fade-down" data-aos-duration="2000">{{ information.3.content }}</h2>

</section>
 
</main>


{% endblock %}
