<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="images/pizza.ico.png" type="PNG">
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="aos-master/dist/aos.css">
        <title>{% block title %}Pizza de la Place{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="description" content="Pizza de la place, restaurant pizzeria situé à Morières Les Avignon. Ouvert tous les soirs de 19h à 22h. Livraison sur Morières Les Avignon, Montfavet, Vedène, Saint Saturnin Les Avignon, Jonquerette et Châteauneuf de Gadagne.">
    </head>
    <body>
        <header id="header">
            {% include "_nav.html.twig" %}
            <div class="img">
                <img src="images/logo_fond1.png" alt="Logo">
            </div>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <section id="contact">

            <div class="contact">
            <div class="back" data-aos="zoom-in" data-aos-duration="2500">
            <div class="h2">
            <h2>Pizza de la place</h2>
            <h2>89 Place de la Liberté</h2>
            <h2>Morières-Lès-Avignon</h2>
            </div>

            <div class="h2">
            <a  class="tel" href="tel:+33623369615">
            <img src="images/tel.png" alt="Téléphone">
            <span >06 23 36 96 15</span> 
            <img src="images/tel.png" alt="Téléphone">
            </a>
            </div>  
            </div>     
            </div>

            <footer>
            <div class="cadre">
            <iframe data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2872.869008891293!2d4.903187515625196!3d43.941384541765444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b5f3efeb069251%3A0x1edcef6fc3cc35ed!2sPizza%20de%20la%20place!5e0!3m2!1sfr!2sfr!4v1603142770778!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>


            <div class="icones">
            <a href="https://www.facebook.com/La-pizza-de-la-place-546276355904599"><img class="icone" src="images/fb.svg" alt="Icone FaceBook"></a>
            <a href="https://www.instagram.com/lapizzadelaplace/?hl=fr"><img class="icone" src="images/inst.svg" alt="Icone Instagram"></a>
            </div>

            <div class="c">
            <a href="legal-mentions">Mentions légales</a> - &#x000A9; <?= date('Y'); ?> - Développé par <a href="mailto:pierrem.garcia@gmail.com">Pierre Garcia</a> - Collaboration : <a href="mailto:lkcom.info@gmail.com">LKCOM</a> - Photo : Greg Le Bourhis
            </div>
            </footer>

        </section>

        <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

        <script src="{{ asset('js/animations.js') }}"></script>

        <script src="{{ asset('aos-master/dist/aos.js') }}"></script>
        <script>
        AOS.init();
        </script>

    </body>
</html>
