<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ asset('images/pizza.ico.png') }}" type="PNG">
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="aos-master/dist/aos.css">
        <title>{% block title %}Pizza de la Place{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="description" content="Pizza de la place, restaurant pizzeria situé à Morières Les Avignon. Ouvert tous les soirs de 19h à 22h. Livraison sur Morières Les Avignon, Montfavet, Vedène, Saint Saturnin Les Avignon, Jonquerette et Châteauneuf de Gadagne.">
    </head>
    <body>
        
        {% include "_header.html.twig" %}

        {% block body %}{% endblock %}
        

        {% include "_footer.html.twig" %}

        {% block javascripts %}{% endblock %}
        
        <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

        <script src="{{ asset('js/animations.js') }}"></script>

        <script src="{{ asset('aos-master/dist/aos.js') }}"></script>
        <script>
        AOS.init();
        </script>

    </body>
</html>
